@import './normalize.scss';

$theme-green: #00534e;
$theme-green-invert: #fff;

$theme-black: #333;
$theme-black-invert: #fff;

$brown: #2b2523;

$primary: $theme-green;
$primary-invert: $theme-green-invert;
$body-color: $theme-black;
$body-background: $theme-black-invert;
