// Variables;
$white: #fff;
$black: #333;
$green: #00534e;
$brown: #2b2523;
$blue: #3273dc;
$grey: #4a4a4a;

$theme-green: $green;
$theme-green-invert: $white;

$theme-black: $black;
$theme-black-invert: $white;

$primary: $theme-green;
$primary-invert: $theme-green-invert;
$body-color: $theme-black;
